<html>

<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Elissa + Alex are getting married" />
    <meta property="og:description" content="All events take place at Stanford Sierra Camp on Fallen Leaf Lake, CA." />
    <meta property="og:image" content="http://elissa-and-alex.com/photos/splash.jpg" />
    <meta property="og:url" content="http://elissa-and-alex.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script>console.log('🌺💍 https://elissa-and-alex.com 💍🌺')</script>
    <link rel="stylesheet" href="/assets/css/style2.css" />
    <script src="//use.typekit.net/ohd3igy.js"></script>
    <script>try { Typekit.load(); } catch (e) { }</script>
</head>

<body class="full" onload="document.body.setAttribute('class','full loaded')">
    {{ content }}
</body>

</html>